@model IEnumerable<HotelBooking_Web.Models.tbl_LoaiPhong>
@{
    ViewBag.Title = "Them";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Thêm phòng</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="~/admin/QLPhong">Danh sách phòng</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Thêm phòng</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>

<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row g-4">
            <!--begin::Col-->
            <div class="col-12">
                <!--begin::Quick Example-->
                <div class="card card-primary card-outline mb-4">
                    <!--begin::Header-->

                    <div class="card-header"><div class="card-title">Thông tin Phòng</div></div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form id="form-act">

                        <div class="card-body">
                            <div class="col-md-12">
                                <label for="txt_SoPhong" class="form-label">số phòng</label>
                                <input class="form-control" type="text" id="txt_SoPhong"  name="txt_SoPhong">
                            </div>

                            <div class="col-md-12">
                                <label for="slc_LoaiPhong" class="form-label">chọn Loại phòng</label>

                                <select id="slc_LoaiPhong" name="slc_LoaiPhong" class="form-control">
                                    <option value="">--Chọn loại phòng--</option>
                                    @if (Model != null && Model.Any())
                                    {

                                        foreach (var item in Model)
                                        {
                                            <option value="@item.LoaiPhongID">@item.TenLoaiPhong</option>

                                        }
                                    }
                                    else
                                    {
                                        <option value="">không có loại phòng nào</option>
                                    }

                                </select>

                            </div>

                            <div class="col-md-12">
                                <label for="txt_GiaMoiDem" class="form-label">Giá mỗi đêm</label>
                                <input type="number" step="0.01" class="form-control" id="txt_GiaMoiDem" name="txt_GiaMoiDem">
                            </div>


                            <div class="mb-3">
                                <label for="txt_SucChuaToiDa" class="form-label">Sức chứa tối đa</label>
                                <input type="number" min="1" step="1" class="form-control" id="txt_SucChuaToiDa" name="txt_SucChuaToiDa">
                            </div>
                            <div class="mb-3">
                                <label for="txt_MoTa" class="form-label">Mô tả</label>
                                <input type="text" class="form-control" id="txt_MoTa" name="txt_MoTa">
                            </div>

                            <div class="input-group mb-3">

                                <input type="file" class="form-control" id="txt_HinhAnh" name="txt_HinhAnh" accept="image/*">
                                <label class="input-group-text" for="txt_HinhAnh">Hình ảnh</label>
                            </div>
                        </div>
                        <!--end::Body-->
                        <!--begin::Footer-->
                        <div class="card-footer">
                            <button type="button" id="btn_them" class="btn btn-primary">Thêm phòng</button>
                        </div>
                        <!--end::Footer-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Quick Example-->
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->

<script>
    $("#btn_them").click(function () {
        var form = $('#form-act')[0];
        var formData = new FormData(form);

        $.ajax({
            type: "POST",
            data: formData,
            //data: JSON.stringify(lst),
            contentType: "application/json; charset=utf-8",
            url: window.location.origin + '/QLPhong/Insert',
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                console.log(response);

                var rs = JSON.parse(response);

                if (rs.ErrCode == 1) {
                    window.location.href = '../QLPhong/Index';
                    alert(rs.ErrDesc);
                }
                else {

                    alert(rs.ErrDesc);
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

</script>
